// _sass/_sidebar.custom.scss

.sidebar {
  background-image: url("/assets/images/sidebar-bg.jpg");
  background-size: cover;
  background-position: center;
}

.sidebar-about {
  color: #333; // Modifica il colore del testo dell'about
}

// Aggiungi ulteriori personalizzazioni qui

